* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f7f7f9;
}

.logo {
  display: block;
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.header {
  border: 1px solid white;
  background: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.navcontainer {
  margin: 20px;
}

.hamburger {
  display: block;
  margin-right: 20px;
  width: 24px;
  height: 24px;
  color: #6070ff;
}

.menu-list {
  display: none;
}

.section {
  background: url("./Images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 700px;
  padding-top: 120px;
  border-bottom-left-radius: 60px;
  background-color: #fff;
}

.sectionheading {
  display: flex;
  width: 350px;
  height: auto;
  padding: 20px 20px 0 20px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-800, #172b4d);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.h-1 {
  color: var(--neutrals-n-800, #172b4d);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  width: 295px;
}

.sectionparagraph {
  padding: 10px 20px 5px 20px;
  color: var(--neutrals-n-600, #344563);
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  display: flex;
  height: auto;
  margin-right: 0;
  font-weight: 400;
}

.socialmedia {
  display: block;
  color: var(--primary-b-300, #7f8cff);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding: 5px 0 0 20px;
}

.media {
  display: flex;
  padding: 5px 0 0 20px;
  gap: 0.8rem;
  width: 170.167px;
  flex-shrink: 0;
  height: 50px;
}

.fa-brands {
  font-size: 25px;
  color: #505f79;
}

.card {
  display: grid;
  grid-template-columns: 90%;
  gap: 88px;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 100px;
}

.grid-items {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
}

.cards {
  width: 100%;
  padding: 10px;
}

.cards img {
  width: 100%;
}

span {
  color: var(--neutrals-n-600, #344563);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.listA {
  display: flex;
}

.project {
  display: flex;
  align-items: center;
}

.listA li {
  color: var(--neutrals-n-100, #7a869a);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.cards-details p {
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
  width: 295px;
  height: 76px;

  color: #344563;
}

.listB {
  display: flex;
  margin-top: 10px;
}

.listA-items {
  margin: 20px;
  list-style-type: circle;
}

.project span {
  margin-right: 10px;
}

.listB-items {
  color: var(--primary-b-400, #6070ff);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  margin-right: 15px;
  padding: 4px 12px;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
}

button {
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  padding: 12px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  background: white;
}

button:hover {
  background: #6070ff;
  color: white;
  cursor: pointer;
}

button:active {
  background-color: blue;
  color: white;
}

.about-myself {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding-top: 30px;
  background: white;
  border-top-right-radius: 60px;
  width: 100%;
}

.myself {
  margin-left: 20px;
  height: auto;
  color: var(--neutrals-n-600, #344563);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.resume-button {
  margin: 15px 0 0 15px;
}

.tech,
.details {
  padding: 15px;
}

.tech {
  padding: 20px;
}

.tech-stack {
  display: flex;
  align-items: center;
  width: 303px;
  padding: 9px 12px 9.716px 12px;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #f7f7f9);
}

.m-s ul {
  margin: 10px;
}

.m-t {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.m-s .m-t {
  margin: 20px;
}

.lan {
  justify-content: space-between;
  align-items: center;
}

.icon {
  color: #5e6c84;
  margin-right: 40px;
  width: 24px;
  height: 24px;
  font-weight: 600px;
}

.connect {
  margin: 2px 0 20px 0;
}

.exp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exp-1 {
  border-bottom: 1px solid lightgray;
}

.gap {
  margin: 5px;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .menu-list {
    display: block;
  }

  .menu {
    display: flex;
    gap: 1.5rem;
    color: #344563;
  }

  .section {
    background-image: url("./Images/Header-bg@2x.png");
    background-repeat: no-repeat;
    background-size: 99% 99%;
    width: 100%;
    padding: 200px 10px 0 200px;
  }

  .sectionparagraph {
    flex-direction: row;
    margin-right: 0;
    width: 90%;
    height: auto;
  }

  .grid-items {
    flex-direction: row;
    justify-content: center;
  }

  .about-myself {
    flex-direction: row;
  }

  .tech-stack {
    flex-direction: column;
  }

  .details {
    width: 50%;
  }
}
